.picture-item {
    padding-bottom: 35px;
    margin-bottom: 40px;
    overflow: hidden;
    border-bottom: 1px dashed #f1f1f1;
}

.picture-item .mainImg {
    margin-right: 30px;
    height: auto;
    display: block;
    position: relative;
}
.picture-item .mainImg img{
    width: 100%;
}

.picture-item .description .title h2 {
    font-size: 18px;
    margin: 0;
    color: #6e7173;
}

.picture-item .description .post-meta li {
    display: inline-block;
    font-size: 13px;
    color: #bbb;
    margin: 10px 10px 10px 0;
}

.picture-item .description .des {
    font-size: 15px;
    color: #828a92;
}